<!DOCTYPE html>
<html>
  <head>
    <title>ERROR!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h2>Bad Request!</h2>
    <div> Please make sure your request is right.</div>
  </body>
</html>
