<!DOCTYPE html>
<html>
  <head>
    <title>ERROR!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h2>Invalid URL!</h2>
    <div> Please make sure your input URL is valid.</div>
  </body>
</html>