<!DOCTYPE html>
<html>
  <head>
    <title>ERROR!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	Sorry,we can not find post <%= query.postid %> of user <%=query.username %>.
  </body>
</html>
