<!DOCTYPE html>
<html>
  <head>
    <title>Unregistered!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h2>Unregistered!</h2>
    <div> The username does not exist.Please make sure you already have a valid username.</div>
  </body>
</html>